html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title= quiz ? quiz.title : "Quiz not found"
		link(rel='stylesheet' href='/quiz-form.css')
		script(src="https://cdn.jsdelivr.net/npm/slipjs@2/slip.js")
		script.
			shuffleFactor = #{JSON.stringify(config.get("shuffleFactor"))}
			autoOrdering = #{JSON.stringify(config.get("autoOrdering"))}
		script(src='/quiz-form.js')
	body
		unless quiz
			p The specified quiz does not exists.
			p You have entered an invalid URL, or you don't have access to this quiz. Or this quiz existed, but somebody has deleted it ☹
		else
			h1= quiz.title
			form(action=action method='post')
				table
					for eid in Object.keys(quiz.entries)
						tr(style="--background-color: " + randomColor({seed: eid}))
							td.question= quiz.entries[eid].question
							td.answer: input(type='text' name='entries[' + eid + '][answer]' placeholder="Answer")
							td.order
								input(type='number' name='entries[' + eid + '][order]' placeholder="Order")
								.down
								.up
				.row
					input(type='submit' value=action)
					| &nbsp;
					input(type='checkbox' id='showBg')
					label(for='showBg') Show colors
