html
    head
        title About
        include ../../includes/babelize.pug
        script(type='module' src='/assets/views/about/script.js')
    body
        h1 About

        h2#purposeH Purpose
        p#purpose

        h2#documentationH Documentation
        p#documentation: a(href='https://github.com/lezsakdomi/kronologia/wiki') on GitHub Wiki

        h2#contributorsH Contributors
        p#contributors.
            Seriously, check the committers <a href="https://github.com/lezsakdomi/kronologia/graphs/contributors">
            on GitHub</a>.

        h2#currentVersionH Current version
        if env && env.HEROKU_APP_ID
            table#currentVersion
                each value, name in env
                    if name.startsWith('HEROKU_')
                        tr.envVar(var-name=name)
                            td.envVarName(valign='center')
                                - const name_ = name.slice('HEROKU_'.length).replace(/_/g, ' ').toLowerCase()
                                span= name_[0].toUpperCase() + name_.slice(1)
                            td.envVarValue(valign='center')
                                case name
                                    when 'HEROKU_APP_ID'
                                        a(href='https://dashboard.heroku.com/apps/' + value): code= value
                                    when 'HEROKU_APP_NAME'
                                        a(href='https://' + value + '.herokuapp.com')= value
                                    when 'HEROKU_RELEASE_CREATED_AT'
                                        - const timestamp = Date.parse(value)
                                        - const date = new Date(timestamp)
                                        span= date.toLocaleString(config.locale)
                                    when 'HEROKU_RELEASE_VERSION'
                                        b: code= value
                                    when 'HEROKU_SLUG_COMMIT'
                                        a(href='https://github.com/search?type=Commits&q=hash%3A' + value): b: code= value.slice(0, 7)
                                        | &nbsp;
                                        a(href='https://github.com/lezsakdomi/kronologia/commits/' + value): button.changeLog changelog
                                    when 'HEROKU_SLUG_DESCRIPTION'
                                        span= value
                                    default
                                        code= value
        else
            p#cantDetectCurrentVersion Could not detect identifier for current version