html
    head
        title About
    body
        h1 About

        h2 Purpose
        p#purpose

        h2 Documentation
        p#documentation: a(href='https://github.com/lezsakdomi/kronologia/wiki') on GitHub Wiki

        h2 Contributors
        p#contributors.
            Seriously, check the committers <a href="https://github.com/lezsakdomi/kronologia/graphs/contributors">
            on GitHub</a>.

        h2 Current version
        if env && env.HEROKU_APP_ID
            table
                each value, name in env
                    if name.startsWith('HEROKU_')
                        tr
                            td(valign='center')
                                - const name_ = name.slice('HEROKU_'.length).replace(/_/g, ' ').toLowerCase()
                                span= name_[0].toUpperCase() + name_.slice(1)
                            td(valign='center')
                                case name
                                    when 'HEROKU_APP_ID'
                                        a(href='https://dashboard.heroku.com/apps/' + value): code= value
                                    when 'HEROKU_APP_NAME'
                                        a(href='https://' + value + '.herokuapp.com')= value
                                    when 'HEROKU_RELEASE_CREATED_AT'
                                        - const timestamp = Date.parse(value)
                                        - const date = new Date(timestamp)
                                        span= date.toLocaleString(config.locale)
                                    when 'HEROKU_RELEASE_VERSION'
                                        b: code= value
                                    when 'HEROKU_SLUG_COMMIT'
                                        a(href='https://github.com/search?type=Commits&q=hash%3A' + value): b: code= value.slice(0, 7)
                                        | &nbsp;
                                        a(href='https://github.com/lezsakdomi/kronologia/commits/' + value) [changelog in main repo]
                                    when 'HEROKU_SLUG_DESCRIPTION'
                                        span= value
                                    default
                                        code= value
        else
            p#cantdetectcurrentversion Could not detect identifier for current version