html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title= quiz ? quiz.title : "Quiz not found"
		link(rel='stylesheet' href='/assets/views/quiz-form/style.css')
		script(src="https://cdn.jsdelivr.net/npm/slipjs@2/slip.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/i18next/11.9.0/i18next.min.js")
		script(src="https://cdn.jsdelivr.net/npm/i18next-xhr-backend@1.5.1/i18nextXHRBackend.min.js")
		script(src="https://cdn.jsdelivr.net/npm/i18next-browser-languagedetector@2.2.3/i18nextBrowserLanguageDetector.min.js")
		script.
			shuffleFactor = !{JSON.stringify(config.get("shuffleFactor"))}
			autoOrdering = !{JSON.stringify(config.get("autoOrdering"))}
			locale = !{JSON.stringify(config.get("locale"))}
		script(src='/assets/views/quiz-form/script.js')
	body
		unless quiz
			p#quiznotfound The specified quiz does not exists.
			p#invalidquiz You have entered an invalid URL, or you don't have access to this quiz. Or this quiz existed, but somebody has deleted it ☹
		else
			canvas#timeline
			form(action=action method='post')
				if editable
					input(name='title' value=quiz.title placeholder="Title")
				else
					h1= quiz.title
				table
					tbody
						if quiz.entries
							for eid in Object.keys(quiz.entries)
								// Don't forget to update the button#add behavior in script.js
								tr(style="--background-color: " + randomColor({seed: eid}) eid=eid)
									td.question
										if editable
											input(type='text' name='entries[' + eid + '][question]' placeholder="Question" value=quiz.entries[eid].question)
										else
											= quiz.entries[eid].question
									td.answer
										- attributes = editable ? {value: quiz.entries[eid].answer} : {}
										input(type='text' name='entries[' + eid + '][answer]' placeholder="Answer")&attributes(attributes)
									td.order
										- attributes = editable ? {value: quiz.entries[eid].order} : {}
										input(type='number' name='entries[' + eid + '][order]' placeholder="Order")&attributes(attributes)
										.down
										.up
										if editable
											.remove
				.row
					if editable
						button#add +
						| &nbsp;
					input(type='submit' value=action)
					| &nbsp;
					input(type='checkbox' id='showBg')
					label(for='showBg') Show colors
					| &nbsp;
					button#sort sort
					if editable
						| &nbsp;
						button#renumber renumber
